    body {
      font-family: "Comic Sans MS", "Comic Sans", cursive;
      background-image: url("fundo.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-color: #5e5e5f;

    }

    #entrada1, #entrada2, #entrada3, #saida{
        border-style: solid;
        max-width: 250px;
        padding: 0px;
 
    }



    #setaGirando{
      animation: bayblade;
      animation-iteration-count: infinite;
      animation-duration: 2s;
    }

    @keyframes bayblade {
      from{
        transform: rotate(360deg);
      }

      to{
        transform: rotate(0dg);
      }
    }
    